<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{portfolio/fragment/main/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>Portfolio Main</title>

</head>

<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/notion/notion.css">
    <div class="wrap">
        <div id="notionBlock">

        </div>
    </div>
    <script type="module" src="/js/portfolio/main/portfolio_main.js"></script>
</th:block>

</body>

</html>