<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{portfolio/fragment/main/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>Portfolio Main</title>

</head>

<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/notion/notion.css">
    <div class="wrap">
        <main>
            <div id="my_imgBox">
                <img id ="my_img" src="/img/portfolio/KakaoTalk_20241013_184839905.jpg"/>
            </div>
            <div class="article_box">
                <div class="dummy_c1"></div>
                <article class="main_content">
                    <div class="paragraph p1">
                        <h1>자기소개</h1>
                        <P class="brief">
                            * 본질을 보고자 하는 개발자
                        </P>
                        <p class="brief">
                            * 끊임 없이 파고 파는 개발자
                        </p>
<!--                        <div class="myAttribute">-->
<!--                            <p>-->
<!--                                -->
<!--                            </p>-->
<!--                        </div>-->
                    </div>

                    <div class="paragraph p2">
                        <h1>구현</h1>

                        <div class="example ex_1">
                            <h2>Project 'Dishcovery</h2>
                        </div>
                        <div class="example ex_2">

                        </div>
                    </div>
                </article>
                <div class="dummy_c2"></div>
            </div>
        </main>
    </div>
    <script type="module" src="/js/portfolio/main/portfolio_main.js"></script>
</th:block>

</body>

</html>