<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>


    <th:block layout:fragment="content_css">
    </th:block>


</head>

<body>
    <div class="container">
        <div class="row mb-3">
            <!-- 헤더 -->
            <div class="col">
                <th:block th:replace="~{portfolio/fragment/main/main_header :: mainHeaderFragment}"></th:block>
            </div>
        </div>
        <div class="row">
            <!-- 컨텐츠 -->
            <div class="col">
                <th:block layout:fragment="content"></th:block>
            </div>
            <!-- 푸터 -->
            <div class="col-2">
                <th:block th:replace="~{portfolio/fragment/main/main_footer :: mainFooterFragment}"></th:block>
            </div>
        </div>
    </div>
    <!-- js -->
    <th:block layout:fragment="content_js">

    </th:block>

</body>


</html>