<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->

<!--</head>-->

<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/portfolio/fragment/main/main_header.css">
        <header class="header_wrap">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" class="nav-logo">Portfolio</a>
                    <ul class="nav-menu">
<!--                        <li><a href="#about">About</a></li>-->
                        <li class="dropdown"><a>Projects ▾</a>
                            <ul class="dropdown-content">
                                <li><a>CulFoShe</a></li>
                                <li><a>Dishcovoery</a></li>
                                <li><a>개인 Blog</a></li>
                            </ul>
                        </li>
                        <li><a href="#Blog">Skills</a></li>
                        <li class="profile-image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-circle" ><!--viewBox="0 0 16 16"-->
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </th:block>
</body>

</html>