<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->

<!--</head>-->

<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/portfolio/fragment/main/main_header.css">
        <header class="header_wrap">
            <nav class="navbar">
                <div class="nav-container">
                    <a href="#" class="nav-logo">Portfolio</a>
                    <ul class="nav-menu">
                        <li><a href="#about">About</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#skills">Skills</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </th:block>
</body>

</html>